
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
    /* color palette */
    --primary-dark: #1a1a1a;
    --primary-light: #ffffff;
    --secondary-dark: #414141;
    --secondary-light: #e8e8e8;
    --theme-color: #d268ff;
  }

  
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--primary-light);
    font-family: 'Poppins', sans-serif;
    color: var(--primary-dark);
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

.dark {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

.centerd{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

h1, h2 {
    font-weight: bold;
    margin: 10px 0;
  
}
  
h1 {
    font-size: 70px;
    line-height: 70px;
}

.purple{
    color: var(--theme-color);
}

.main-t {
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 350px;
}
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .telegram:hover,
.wrapper .telegram:hover .tooltip,
.wrapper .telegram:hover .tooltip::before {
  background: #309ce0;
  color: #ffffff;
}

.wrapper .artstation:hover,
.wrapper .artstation:hover .tooltip,
.wrapper .artstation:hover .tooltip::before {
  background: #309ce0;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .codepen:hover,
.wrapper .codepen:hover .tooltip,
.wrapper .codepen:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

/* Button container */
.button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  /* Buttons */
  .button-container button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: transparent;
    color: var(--primary-dark);
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-bottom: 2px solid transparent; 
    font-weight: bold;
    transition: border-bottom-color 0.3s, color 0.3s;
  }
  
  .dark .button-container button {
    color: var(--primary-light);
  }
  
  .button-container button:hover {
    border-bottom-color: var(--primary-dark);
    color: var(--primary-dark); 
  }
  
  .dark .button-container button:hover {
    border-bottom-color: var(--primary-light);
    color: var(--primary-light); 
  }
  
 /* switch */

 .switch {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--theme-color);
    position: relative;
  }
  
  .flicker {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--primary-light);
    position: absolute;
    top: 5px;
    left: 5px;
    transition: 0.3s;
    box-shadow: inset 4px 4px 4px rgb(255, 255, 255), inset -4px -4px 4px rgb(195 193 198 / 90%);
  }
  
  .moon,
  .sun {
    margin-left: -35px;
    margin-top: 6px;
    opacity: 0;
    font-size: 20px;
    position: absolute;
    left: 45px;
    top: 5px;
    z-index: 1;
  }
  
  .dark .moon,
  .light .sun {
    opacity: 1;
  }
  
  
  .dark .flicker {
    transform: translateX(40px);
  }
  
  @media only screen and (min-width: 970px) {
    .main-text {
      width: 50%;
    }
  
    .square {
      height: calc(50% - 60px);
    }
  }
  
  @media only screen and (max-width: 1300px) {
    .hero-image {
      display: none;
    }
  }